<h1>Editing user interest submission</h1>

<%= render "form", user_interest_submission: @user_interest_submission %>

<br>

<div>
  <%= link_to "Show this user interest submission", @user_interest_submission %> |
  <%= link_to "Back to user interest submissions", user_interest_submissions_path %>
</div>
