<h1>New user interest submission</h1>

<div class="d-flex flex-column align-items-center w-100">
  <%= render "form", user_interest_submission: @user_interest_submission %>
</div>

<br>

<div>
  <%= link_to "Back to user interest submissions", user_interest_submissions_path %>
</div>
